<!--Header, p tags, and image sources for the Home page-->
<h1>This Site Is About One Of My Hobbies, Fishing!</h1>
<br />
<p>One of my favorite kinds of fishing is dip netting. The first image is a picture of fish I have caught on the Kenai River. In this photo I am with my Brother, one of my favorite fishing buddies. The second picture is at Fish Creek. Here I am with my dad, my other favorite fishing buddy. The fish in both of these photos are red salmon.</p>
<img src="~/images/kenai.jpg" />
<br />
<img src="~/images/fishcreek.jpg" />
<p>Another kind of fishing that I enjoy is set netting. My favorite place to set net is a place called Graveyard Point on the Kvichak River. This kind of fishing is done with 25 and 50 fathon long nets. In this photo I am holding a King Salmon. King Salmon are more rare, but they are the most fun to catch and taste the best!</p>
<img src="~/images/graveyard.jpg" />